@import '../../styles/app';

$font-size-print-sm: 12pt;
$font-size-print-md: 14pt;
$font-size-print-lg: 18pt;

$script-item-control-bottom: -30px;

.classic {
    .avatar {
        display: none;
    }
}


//General ScriptItem Styles
.script-item {
    padding: 10px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;


    &.classic {
        align-items: center;
        padding: 20px 50px 0px 50px;
    }

    &.chat {
        color: white;
        background-color: $gray-inverse;
    }

    .text-input {
        text-align: start;
        color: black;
        border: none;
    }

    &.curtain-open.chat {
        color: white;

        .text-input {
            color: white;
        }
    }

    &.curtain-closed.chat {
        ::placeholder {
            color: $gray-900;
        }
    }


    .script-item-parts {
        position: relative;
        z-index: 3;
        width: auto;
    }

    .dropzone {
        z-index: 2;
        background-color: transparent;

        &.classic {
            display: none;
        }
    }


    .element-in-view-observer {
        width: 100%;
    }
    /*Layout*/
    .script-item-text-area {
        flex: 1;
        display: flex;
        position: relative;
        justify-content: center;
        max-width: 100%;
        z-index: 2;

        &.classic {
            width: 100%;
            justify-content: flex-start;
        }

        .script-item-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 3;

            &.classic {
                width: 100%;
            }

            .script-item-header {
                position: relative;
                z-index: 5;
                font-weight: $font-weight-bold;

                &.classic {
                    font-size: $h6-font-size;
                    text-align: center;
                    align-self: center;
                }

                .type-dropdown {
                    z-index: 1;
                }

                @media print {
                    font-size: $font-size-print-md !important;
                }
            }

            &.align-right {

                .script-item-header {
                    left: 10px;
                    right: 10px;
                }
            }

            .text-input {
                position: relative;
                z-index: 4;
                background-color: transparent;


                .bracketed-text::before {
                    content: '( ';
                }

                .bracketed-text::after {
                    content: ' )';
                }

                &.classic {
                    font-size: $h5-font-size;
                    text-align: center;
                    align-self: center;
                    white-space: pre-line;

                    &.regular {
                        @media print {
                            font-size: $font-size-print-md !important;
                            width: 100% !important;
                            widows: 2;
                            orphans: 2;
                        }
                    }

                    &.large {
                        @media print {
                            font-size: $font-size-print-lg !important;
                            width: 100% !important;
                            widows: 2;
                            orphans: 2;
                        }
                    }
                }
            }


            .open-bracket {
                position: absolute;
                top: 7px;
                left: 20px;
            }

            .close-bracket {
                position: absolute;
                bottom: 7px;
                right: 20px;
            }

            @media print {
            }
        }

        @media print {
            width: 100%;
        }
        //script-item-text-area end
    }


    @media print {
        padding: 10px 20px 0px 30px !important;
    }
    //script-item end
}

.final-script-item {
    padding-bottom: 10px;
}

.stage-curtain {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0;
    border: 0;
    z-index: 1;
    background-color: $danger;

    &.left {
        left: 0
    }

    &.right {
        right: 0;
    }

    &.curtain-closed {
        width: 50%;
        transition: width 1s ease-in-out;
    }

    &.curtain-open {
        width: 0;
        transition: width 1s ease-in-out;
    }
}

.curtain-open {
    &.chat {
        color: white;
    }
}

.curtain-closed.chat {
    color: black;
}



.text-input {
    position: relative;
}

//SCriptItemControls...

.header-controls {
    position: absolute;
    top: -10px;
    right: 0px;
    z-index: 12;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
}


.footer-controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: $script-item-control-bottom;
    right: 0px;
    z-index: 10;
}

.header-controls .checkbox-ios i {
    height: 15px;
    background-color: black;
}

.header-controls i::before {
    height: 15px !important;
    width: 15px !important;
}


.center-right-controls {
    display: flex;
    flex-direction: row;
}
//End of SCriptItemControls.


.part-editor {
    padding: 0px 50px 0px 50px;
    background-color: $gray-inverse;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    font-weight: $font-weight-bold;

    &.classic {
        background-color: white;
    }

    p {
        z-index: 2;
        margin: 0;
        padding-left: 20px;
        padding-top: 0px;
    }

    .part {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 0px 4px 20px;
        position: relative;
        z-index: 2;


        ::placeholder {
            color: black;
        }



        .part-editor-controls {
            position: relative;
            z-index: 5;

            .center-controls {
                display: flex;
                flex-direction: row;
            }
        }
    }

    &.chat.curtain-open {
        color: white;

        .part {
            .text-input {
                color: white;
            }
        }
    }
}

.part-name {
    width: auto;

    input {
        width: auto;
        min-width: 50px;
    }
}


.part-controls {
    text-align: start;

    @media print {
        display: none;
    }
}


.part-tags {
    flex: 1;
    text-align: start;
    position: relative;
    z-index: 2;
}

.classic {

    .script-item-parts {
        height: unset !important;
    }

    .part-tags {
        flex: 1;
    }

    .part-person-name {
        flex: unset;
        padding-left: 10px;
    }

    .part-selector-dropdown {
        left: 50%;
        transform: translateX(-50%);
    }
}
/*PART AVATAR NAME*/
.part-avatar-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    .part-avatar {
        flex: 0 0 auto;
        margin-right: 10px;
    }

    .part-name {
        flex: 0 0 auto;

        .text-input {
            width: 180px;
            background-color: transparent;
            border: 0px;
            color: black;
            font-weight: $font-weight-bold;
            margin-left: 0px;
            padding-left: 0px;

            @media print {
                font-size: $font-size-print-sm !important;
            }
        }
    }

    .part-person-name {
        flex: 0 0 auto;
        text-align: start;
        align-items: center;
    }
}



/* Script-Item-Comments*/

.script-item-comment {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    top: 0px;
    right: -280px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 2px;

    @include dropdown-box();

    .comment-header {
        display: flex;
        flex-direction: row;
        color: black;
        padding-left: 5px;
        font-weight: $font-weight-bold;

        .created-by {
            flex: 1;
        }
    }

    .text-input {
        text-align: justify;
        font-size: $font-size-base !important;
        font-weight: $font-weight-base !important;
        border-width: 0px;
        padding: 0px 5px 0px 5px !important;
        border-width: 0px !important;
        color: black;
    }

    .comment-footer {
        display: flex;
        flex-direction: row;
        color: black;

        .tags-input {
            flex: 1;
            z-index: 10;
        }
    }
}







.autogrow {
    overflow: hidden;
    resize: none;
}

.script-comments {

    .text-input {
        font-size: $font-size-base !important;
        font-weight: $font-weight-base !important;
        color: black;
    }

    &.show-comments {
        flex: 0 0 310px;
    }

    &.hide-comments {
        display: none;
    }
}
/*PART SELECTOR*/
.part-selector {
    position: relative;
    z-index: 2;
    color: $text-color;


    .part-selector-avatars {
        position: relative;
        z-index: 0;
        width: auto;
        display: flex;
        flex-direction: row;


        .avatar {
            position: relative;
            margin: 0px;
            $avatar-count: length(&);
            $overlap: -15px; /*overlap the avatars by this amount*/

            @for $i from 1 through $avatar-count {
                &:nth-child(#{$i}) {
                    --index: #{$i};
                    --n: calc(#{$overlap} * (var(--index) - 1));
                    transform: translateX(var(--n));
                }
            }
        }
    }
}
/*multiple avatars css_________*/

.part-selector-dropdown {
    position: absolute;
    display: flex;
    top: 100%;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    padding: 15px;

    @include dropdown-box;


    .parts-container {
        position: relative;
        z-index: 1000;
        max-height: 400px;
        overflow: auto;
        column-count: 2;
        column-gap: 10px;
    }

    &.centered {
        left: 50%;
        transform: translateX(-50%);
    }
}

.align-right {
    .part-selector-dropdown {
        right: 0;
    }
}






.part-selector-dropdown .part-avatar {
    z-index: 11;
}

.part-selector-dropdown .avatar {
    z-index: 11;
}


.part-selector-dropdown .part-name {
    z-index: 11;
}

.part-selector-dropdown .part-avatar-name:hover {
    background-color: #f0f0f0;
}

.part-selector-dropdown .part-avatar-name.selected {
    background-color: #ffc107;
}

.part-selector-dropdown p {
    margin: 0px;
}
//Type Specific ScriptItem Styles
.show {
    .text-input {
        font-size: $h2-font-size;
        text-align: center;
    }
}

.act {
    .text-input {
        font-size: $h2-font-size;
        text-align: center;
    }
}

.scene {
    padding-bottom: 0px;


    .script-item-header {
        font-size: $h6-font-size;
        font-weight: $font-weight-bold;
    }

    .script-item-text-area {
        text-align: center;
    }

    .dropzone {
    }

    .text-input {
        font-size: $h5-font-size;
        font-weight: $font-weight-bold;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
    }

    .scene-controls {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 5;
        display: flex;
        flex-direction: row;


        .hide-redo {
            color: transparent;
        }

        @media print {
            display: none !important;
        }
    }

    .footer-controls {
        bottom: 10px;
        right: 0px;
    }

}

.scene.header-controls {
    color: black;
}


.synopsis {
    padding-top: 0px;
    padding-bottom: 0px;

    .script-item-text-area {
    }

    .dropzone {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .text-input {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;

        @media print {
            font-size: $font-size-print-sm !important;
        }
    }

    .footer-controls {
    
    }

    .header-controls {
     top: unset;
     bottom: $script-item-control-bottom;
     right: 35px;
    }
}


.initialstaging {
    padding-top: 10px;

    .script-item-text-area {
    }

    .dropzone {
    }

    .text-input {
        padding-top:0px;
        padding-bottom: 0px;
        text-align: center;

        @media print {
            font-size: $font-size-print-sm !important;
        }
    }

    .header-controls{
        top: -10px;
    }
    
}

.staging,
.initialstaging {
    .script-item-header {
        font-size: $h6-font-size;
        font-weight: $font-weight-bold;
        text-align: center;
    }

    .text-input {
        @media print {
            font-size: $font-size-print-sm !important;
        }
    }
}

.curtain,
.initialcurtain {
    align-items: center;

    .text-input {
        font-weight: $font-weight-bold;
        text-align: center;
    }

    .curtain-checkbox {
        position: relative;
        z-index: 10;
        max-height: 20px;

        i {
            background-color: $danger;
            height: 20px;
        }

        ::before {
            height: 20px;
            width: 20px;
        }

        &.classic.curtain-open {
            i {
                background-color: $gray-inverse;
            }
        }

        @media print {
            display: none !important;
        }
    }
    /* &.curtain-open.chat * {
        color: white;

        .type-dropdown {
            color: black;
        }
    }*/

    &.curtain-closed * {
    }

    .header-controls {
        top: unset;
        bottom: 0px;
        right:  0px;
        margin: 0px;

        .header-right-controls {
            padding-left: 0px;
        }
    }
}


.dialogue {

    .script-item-text-area {
        justify-content: flex-start;
    }

    &.script-item.chat {
        padding-left: 10px;
        padding-right: 20px;
        flex-direction: row;

        &.align-right {
            padding-left: 20px;
            padding-right: 10px;
        }
    }



    .script-item-text {
        align-items: flex-start;

        .text-input {
            border-color: $gray-700;
            color: black !important;
            border-radius: 0px 20px 20px 20px !important;
            padding: 10px 15px;
            font-size: 16px;
            width: 100%;
            z-index: 2;
            background-color: white;
            overflow: hidden !important;

            &.regular {
                @media print {
                    font-size: $font-size-print-md !important;
                    width: 100% !important;
                    widows: 2;
                    orphans: 2;
                }
            }

            &.large {
                @media print {
                    font-size: $font-size-print-lg !important;
                    width: 100% !important;
                    widows: 2;
                    orphans: 2;
                }
            }
        }
    }


    &.align-right {

        .script-item-text-area {
            justify-content: flex-end;
            order: -1;
        }

        .script-item-text {
            .text-input {
                border-radius: 20px 0px 20px 20px !important;
                background-color: yellowgreen !important;
            }
        }
    }

    .script-item-header {
        font-size: $small-font-size;
        align-self: start;
    }

    &.highlight {
        .script-item-header {
            background-color: $highlight;
        }
    }

    &.classic {
        .text-input {
            border-radius: 0px 0px 0px 0px !important;
            padding: 0px;
            text-align: center;
        }
    }

    &.chat.curtain-closed {
        .text-input {
            @include dropdown-box();
            border-color: $gray-700;
        }
    }

    &.chat.curtain-open {
        .text-input {
            @include dropdown-box();
            border-color: black;
        }
    }
}

.action,
.sound,
.lighting,
.staging {

    .text-input {
        //font-weight: $font-weight-bold;
        text-align: center;
        background-color: transparent !important;
        color: black;
    }



    &.curtain-open.chat {
        .text-input {
            color: white;
        }
    }
}


.action {
    paddding-top:10px;
    .header-controls {
        top: -10px;
        right: -50px;
    }
}