@import '../../styles/app';

.autogrow {
    overflow: hidden;
    resize: none;
}

.script-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media print {
        @page {
            size: A4 !important;
        }
    }

    .script-page-content {
        flex: 1;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        @media print {
            oveflow: visible !important;
        }

        .script-viewer {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            z-index: 1;

            @media print {
                overflow: visible !important;
            }
        }
    }
}




.script-viewer-header {
    text-align: end;
    align-items: center;
    flex: 0 0 50px !important; //TODO: can get rid of important if flex-full-width is moved out of index.css to scss.

    .left-controls {
        flex: 0 0 20px;
        align-items: center;
    }

    .center-controls {
        flex: 1;
        justify-self: center;
    }

    .script-viewer-navlink {
        display: flex;
        align-items: center;
        padding: 5px 3px !important;
    }

    .view-as-control {
        flex: 0 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &.selected.classic {
            background-color: $highlight;
        }
    }

    .right-controls {
        flex: 0 0 60px;
    }


    @media print {
        display: none !important;
    }
}


.script-viewer-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gray-700;
    flex: 1;
    height: 100%;
    overflow: auto;

    &.classic {
        background-color: $gray-700;
    }



    @media print {
        background-color: white !important;
        overflow: visible !important;
        height: unset;
    }
}


.script-body {
    flex: 1;
    position: relative;
    max-width: $script-body-max-width;
    width: 100%;

    &.show-comments {
        background-color: $gray-700;
        padding-right: $script-comments-width;
        max-width: $script-body-max-width + $script-comments-width;
    }

    &.classic {
        background-color: $gray-700;
    }

    @media print {
        background-color: white !important;
        max-width: unset !important;
        padding-right: 0 !important;
    }
}

.script-comments {

    &.show-comments {
        flex: 0 0 $script-comments-width;
    }

    &.hide-comments {
        display: none;
    }

    @media print {
        display: none !important;
    }
}

.comments-title {
    position: absolute;
    right: calc($script-comments-width / 2) - 35px;
    color: white;
    height: 0;
}

.hide-comments {
    .comments-title {
        display: none;
    }
}



.scene-group {
    position: relative;

    @media screen {
        border-color: $gray-900;
        @include dropdown-box;
    }

    page-break-before: always;
}

.scene-header {
    position: relative;
    z-index: 2;
}

.scene-body {
    position: relative;
    z-index: 1
}

.scene-footer {
    position: relative;
    z-index: 0;
    background-color: $gray-inverse;
    text-align: center;

    @media print {
        display: none !important;
    }
}



.add-new-scene {
    padding: 40px;
    background-color: $gray-700;
    color: white;
}

.curtain-open {
    color: white;
}

.curtain-closed {
    color: black;

    .add-new-scene {
        position: relative;
        z-index: 5;
    }
}


.person-selector {
    position: relative;
    z-index: 1000;
}

.sceneSelector {
    flex: 1;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
    position: relative;

    .scriptSearch {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .closeIcon {
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px;
            cursor: pointer;
        }
    }

    .scriptSearchCharacters {
        flex: 0 0 50px;
    }

    .scriptSearchTags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 10px 5px 10px;
    }

    .scriptSearchButtons {
        display: flex;
        flex-direction: row;
        padding: 5px 10px 5px 10px;
        align-items: center;
        justify-content: space-evenly;

        button {
            width: 150px;
        }
    }


    .inFocus {
        font-weight: 600;
    }

    &.modal {
        padding: 15px;
        max-width: unset;
    }

    .sceneSelectorRow {
    }

    @media print {
        display: none;
    }
}

.highlight {
    background-color: $highlight;
}
