@import '../../styles/app';

//General ScriptItem Styles
.script-item {
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $gray-inverse;
    z-index: 2;

    .text-input {
        text-align: center;
    }
}

.stage-curtain {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0;
    border: 0;
    z-index: 1;
    overflow:hidden;
    background-color: $danger;

    &.left {
        left: 0
    }

    &.right {
        right: 0;
    }

    &.curtain-closed {
        width: 50%;
        transition: width 1s ease-in-out;
    }

    &.curtain-open  {
        width: 0;
        transition: width 1s ease-in-out;
    }
}


.script-item.parts {
    z-index: 2;
}

/*Layout*/
.script-item-text-area {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 100%;
    z-index: 2;
}





.script-item-text-area {
}

.script-item-header {
    z-index: 2;
}

.script-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.align-right {

    .script-item-header {
        left: 10px;
        right: 10px;
    }
}

.autogrow {
    overflow: hidden;
    resize: none;
}

.script-comments {
    &.show-comments {
        flex: 0 0 310px;
    }

    &.hide-comments {
        display: none;
    }
}



//Type Specific ScriptItem Styles
.show {

    textarea {
        font-size: $h2-font-size;
    }
}

.act {
    textarea {
        font-size: $h2-font-size;
    }
}

.scene {

    .script-item-header {
        font-size: $h6-font-size;
        font-weight: $font-weight-bold;
        text-align: center;
    }

    textarea {
        font-size: $h5-font-size;
        font-weight: $font-weight-bold;
    }
}

.staging,
.initial {
    .script-item-header {
        font-size: $h6-font-size;
        font-weight: $font-weight-bold;
        text-align: center;
    }
}

.dialogue {

    &.script-item {
        padding-left: 10px;
        padding-right: 70px;
        flex-direction: row;

        &.align-right {
            padding-left: 70px;
            padding-right: 10px;
        }
    }

    .script-item-text-area {
        justify-content: flex-start;
    }

    .script-item-text {
        align-items: flex-start;

        .text-input {
            border-radius: 0px 20px 20px 20px;
            padding: 10px 15px;
            font-size: 16px;
            width: 100%;
            z-index: 2;
        }
    }


    &.align-right {

        .script-item-text-area {
            justify-content: flex-end;
            order: -1;
        }

        .script-item-text {
            .text-input {
                border-radius: 20px 0px 20px 20px;
                background-color: yellowgreen;
            }
        }
    }

    .script-item-header {
        font-size: $small-font-size;
    }
}
