@import '../../styles/app';

.autogrow {
    overflow: hidden;
    resize: none;
}

.script-comments {
    &.show-comments {
        flex: 0 0 310px;
    }

    &.hide-comments {
        display: none;
    }
}

.scene-footer{
    position: relative;
    background-color: $gray-inverse;
}
