@import '../../styles/app';

$sub-scene-margin: 10px;


.container {
    display: flex;
    flex-direction: row;
    overflow: auto;

    @media print {
        display: block;

        * {
            overflow: visible !important;
        }
    }

    .castSection {
        display: none;
    }

    .programmeSection {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .act {
            flex: 1;
            display: block;
            min-width: 400px;

            @media Print {
                display: block;
            }

            .scene {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;



                @media Print {
                    page-break-inside: avoid;
                    margin-top: 40px;
                }

                &.dragOver {
                    margin-bottom: 40px;
                    background-color: $highlight;
                }

                .actHeader {
                    //font-weight: $font-weight-bold;
                    @media print {
                        font-size: 36px;
                    }
                }

                .sceneHeader {
                    font-weight: $font-weight-bolder;

                    &:hover {
                        background-color: $hover-bg;
                    }

                    @media print {
                        font-size: 36px;
                    }
                }

                .synopsis {
                    font-size: $font-size-sm;
                    font-style: italic;
                    margin-left: $sub-scene-margin;

                    @media print {
                        font-size: 32px;
                    }
                }

                .sceneParts {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-left: $sub-scene-margin;

                    .partAvatar {
                        margin-right: 2px;

                        @media print {
                            * {
                                font-size: 20px !important;
                            }

                            margin-right: 5px;

                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }

                    .part {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-left: 10px;
                        font-size: $font-size-xs;

                        &:hover {
                            background-color: $hover-bg;
                        }

                        &.dragOver {
                            background-color: $hover-bg;
                            border-bottom:3px solid black;
                        }

                        &:first-child {
                            margin-left: 0px;
                        }

                        &.unallocated {
                            background-color: transparent;
                            border-color: $gray-400;
                            border-style: solid;

                            &:hover {
                                background-color: $hover-bg;
                            }
                        }

                        &.viewAsPartPerson {
                            background-color: $highlight;
                        }

                        &.quickChange {
                            background-color: $highlight-warning;
                        }

                        &.multipleParts {
                            background-color: $highlight-danger;
                        }

                        .highlightText {
                            color: $white;
                            padding-left: 5px;
                            padding-right: 5px;
                        }

                        .partName {

                            @media print {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}
