@import '../../../styles/app';


.resultsTableContainer {
    width:100%;
    height:100%;
    overflow: auto;

    .resultsTableTitle {
        position:sticky;
        display:flex;
        flex-direction:row;

        .left {
            flex: 1;
            justify-self: flex-start;
            text-align: start;
            }
        
        .right{
            flex:auto;
            text-align: end;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            
        }
    }

    table{
        position:relative;
    }

    thead {
        position:sticky;
        top:0;
        background-color: $white;
        z-index: 1;
        
        .centered {
            text-align: center;
        }
    }

    .testTitle {
        font-size: $font-size-sm;
    }

    .testDateTime{
font-size: $font-size-sm;
    }

    .success{
        text-align: center;
    }

    .speed{
        text-align: center;
    }

    .failureMessage, .expectedResult {
        font-size: $font-size-sm;
        color: $danger;
    }

    .actualResult {
        font-size: $font-size-xs;
        color: $danger;
    }
    .mobileDevice{
        .hideOnMobile {
            display: none;
        }
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}