@import '../../styles/app';

.confirmClickContainer {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    
}

.confirmClick {
    width: 100%;
    height: 100%;
    transition: all 200ms ease-in-out;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $hover-bg;
    }
    
    &.clicked {
        background-color: $blue;
    }
}

.circle {
    border-radius: 50%;
}

.rectangle {
    border-radius: 5%;
}
