body {
}




#personal-details {
    display: grid;
    grid-template-columns: 100px 1fr;
}

#full-name-email {
    display: flex;
    flex-wrap: wrap;
}

#roles {
 display: flex;
}

.draftBorder {
    border: 2px dashed black;
}
