html {

}

body {

}


.draft-border {
    /*  border: 2px dashed red;*/
}


.clickable {
    cursor: pointer;
}


/*Icons*/

.reverse-icon {
    transform: scaleX(-1);
}






/*User Personal Details*/

.personal-details {
    display: flex;
    flex-wrap: wrap;
}



.tags-input {
    display: flex;
}

.personal-details.full-name {
    flex: 1 0 100%;
}

.personal-details.email {
    flex: 2 0 100%;
}

.tag-button.dropdown {
    margin: 2px;
}

#user-modal {
    max-width: 400px;
}

.above {
    z-index: 10;
}


/*Avatar Component*/
.avatar-image-upload {
    display: none;
}


.page-content {
    overflow: auto;
}



/* The container for the script-viewer component*/
#script-viewer {
    background-color: #f0f0f0;
}





.part .text-input:not(:focus) {
    border: none;
}





.tags-input * {
    z-index: 2;
}



/*basic layout css*/
.page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.flex-full-height{
    flex: 1;
    display: flex;
    flex-direction:column;
    overflow: hidden;
}

.flex-full-width {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.full-height-overflow {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.table {
    background-color: white;
}

.sticky {
    position: sticky;
    top: 0px;
    background-color: inherit;
z-index: 10;
}

@media print {
    .flex-full-height {
        overflow:visible !important;
    }
}