html {

}

body {

}


.draft-border {
    /*  border: 2px dashed red;*/
}


.clickable {
    cursor: pointer;
}


/*Icons*/

.reverse-icon {
    transform: scaleX(-1);
}






/*User Personal Details*/

.personal-details {
    display: flex;
    flex-wrap: wrap;
}



.tags-input {
    display: flex;
}

.personal-details.full-name {
    flex: 1 0 100%;
}

.personal-details.email {
    flex: 2 0 100%;
}

.tag-button.dropdown {
    margin: 2px;
}

#user-modal {
    max-width: 400px;
}

.above {
    z-index: 10;
}


/*Avatar Component*/
.avatar-image-upload {
    display: none;
}


/*PersonSelector Component*/
.select-person-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.person-button {
    margin: 5px;
    cursor: pointer;
}

.page-content{

    overflow: auto;

}


#scene-selector {
    flex: 0 0 300px;
}


/* The container for the script-viewer component*/
#script-viewer {
    background-color: #f0f0f0;
}
















/*Text Input Styles*/
.text-input {
    width: 100%;
}

.script-item .text-input:not(:focus) {
    border: none;
}

.part .text-input:not(:focus) {
    border: none;
}





.tags-input * {
    z-index: 2;
}



/*basic layout css*/


.flex-full-height{
    flex: 1;
    display: flex;
    flex-direction:column;
    overflow: hidden;
}

.table {
    background-color: white;
}

.sticky {
    position: sticky;
    top: 0px;
    background-color: inherit;
z-index: 10;
}

@media print {
    .flex-full-height {
        overflow:visible !important;
    }
}