@import '../../styles/app';

.root {
    height: 100vh;
    position: relative;
    left: 0;
    transition: left $sidebar-transition-time ease-in-out;

    @media print {
        height: unset;
        overflow-y: visible !important;
    }
}

.wrap {
    position: relative;
    height: 100%;
    display: flex;
    overflow-y: hidden;
    margin-left: $sidebar-width-closed;
    flex-direction: column;
    left: $sidebar-width-open - $sidebar-width-closed;
    right: 0;
    transition: left $sidebar-transition-time ease-in-out, margin-left $sidebar-transition-time ease-in-out;

    &.sidebarNone {
        margin-left: 0;
        left: 0;
    }

    &.sidebarStatic {
        margin-left: $sidebar-width-open;
        left: 0;
    }

    &.sidebarOpen {
        margin-left: 0;
        left: $sidebar-width-open;
    }

    &.sidebarClose {
        margin-left: $sidebar-width-closed;
        left: 0;
    }

    @media (max-width: breakpoint-max(sm)) {
        margin-left: 0;
        left: $sidebar-width-open;
    }
}

@media print {

    .wrap {
        margin-left: 0 !important;
        left: 0 !important;
        height: unset;
        display: block;
        overflow-y: visible !important;

        * {
            overflow-y: visible !important;
        }
    }

    .footer {
        display: none !important;
    }
}



.content {
    position: relative;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    // 20px for footer height
    padding: 0 $content-padding $content-padding $content-padding;
    background-color: $body-bg;


    &.isMobileDevice {
        padding: 0px;
    }
    //@media (max-width: breakpoint-max(sm)) {
    //    padding: 20px $content-padding-sm ($content-padding + 30px);
    // hammers disallows text selection, allowing it for large screens
    @media (min-width: breakpoint-min(sm)) {
        user-select: auto !important;
    }

    @media print {
        display: block;
        overflow-y: visible !important;
        padding: 10px;
    }

    &.no-side-padding {
        padding-left: 0;
        padding-right: 0;
    }

    &.reduced-top-padding {
        padding-top: ($content-padding - 20px);
    }
}

.contentFooter {
    position: absolute;
    bottom: 15px;
    //color: $text-muted;
}


.openSidebarToggle {
    position: absolute;
    top: 2px;
    right: -5px;
}
